<section class="py-5 flex justify-center">
    <div class="fixed bottom-0 left-0 right-0 p-4 text-center">
        <div 
         class="flex sm:space-x-2 xl:space-x-10 justify-center"
         hx-get="/routes"
         hx-trigger="load"
         >
        </div>
    </div>
</section>

<script>
    document.body.addEventListener('htmx:afterRequest', (event) => {
        var elements = document.getElementsByTagName("input");
        for (var ii=0; ii < elements.length; ii++) {
            if (elements[ii].type == "text" && elements[ii].classList.contains("iteminput")) {
                elements[ii].value = "";
            }
        }

        document.getElementById('input_cat').value = '';
    })
</script>

<script>
    function timeSince(date) {

        now = Date.now();
        seconds = now/1000 - date;

        if (seconds < 60) {
            return 'now'
        } else if (seconds < 3600) {
            return Math.floor(seconds/60) + "m"
        } else if (seconds < 86400) {
            return Math.floor(seconds/3600) + "h"
        } else {
            return Math.floor(seconds/86400) + "d"
        }
    }
</script>
</body>
</html>
