<section>
    <div 
        class="fixed bottom-0 left-0 right-0 p-4 text-center"
        x-data="{ currentRoute: '' }" 
        x-init="currentRoute = window.location.pathname"
    >
        <div class="flex sm:space-x-2 xl:space-x-10 justify-center">
            {{range .navItems}}
            <a 
                href="{{.url}}" 
                :class="{ 'text-blue-500 font-bold underline': currentRoute === '{{.url}}', 'text-blue-500': currentRoute !== '{{.url}}' }"
                class="text-blue-500"
            >
                {{.name}}
            </a>
            {{end}}
        </div>
    </div>
</section>
